@import url('./../../../assets/_variables.css');

.productCard {
	min-height: 200px;
	box-shadow: 0px 2px 12px 2px var(--dark-color);
	border-radius: 0.7rem;
	padding: 0.5rem 1rem;
	position: relative;
}

.edit {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.deleteItem {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.pview {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-top: 0.4rem;
	flex-direction: row-reverse;
}

.view {
	right: 1rem;
}

.price {
	width: 80px;
}

.name {
	padding: 0.4rem 1rem;
	border-bottom: 1px solid var(--dark-color);
}

.description {
	padding: 0.3rem 1rem;
}