@import url('./../../assets/_variables.css');

.loginForm {
	margin: 2rem;
}

.heading {
	text-align: center;
	padding: 0.5rem;
	border-bottom: 2px solid var(--light-color);
}

.form {
	padding: 4rem 0;
	grid-gap: 2rem;
	display: grid;
	align-items: center;
}

.input {
	padding: 0.2rem 0;
}

.submit {
	text-align: center;
	padding: 2rem 0;
}